.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-google {
  height: 40vmin;
  pointer-events: none;
}

.container-search {
  margin: 4%;
  width: 100%;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 3%;
}

.button-google {
  width: 140px;
  height: 40px;
}

.span-text {
  color: #61dafb;
}
